<h1>Edit Your Profile</h1>

<%= form_with model: @profile, local: true do |f| %>
  <div>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div>
    <%= f.label :experience_level %>
    <%= f.select :experience_level, ["Beginner", "Intermediate", "Professional"] %>
  </div>

  <div>
    <%= f.label :availability %>
    <%= f.text_field :availability %>
  </div>

  <div>
    <%= f.label :looking_for %>
    <%= f.text_field :looking_for %>
  </div>

  <div>
    <%= f.label :spotify_link %>
    <%= f.text_field :spotify_link %>
  </div>

  <div>
    <%= f.label :youtube_link %>
    <%= f.text_field :youtube_link %>
  </div>

  <div>
    <%= f.label :instagram_link %>
    <%= f.text_field :instagram_link %>
  </div>

  <div>
    <%= f.label :website_url %>
    <%= f.text_field :website_url %>
  </div>

  <div>
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
